body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-top: 20px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

input, button {
    width: 100%;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result, #futureResult, #doubleResult {
    margin-top: 10px;
    font-weight: bold;
}
/* Add CSS for Tabs */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ccc;
    padding-bottom: 10px; */
}

.tab-content {
    display: none;
}

.tab-content:first-child {
    display: block;
}

.tab-content {
    display: none;
    padding-top: 20px; /* Add padding to separate the output from inputs */
}

#percentageChangeResult {
    margin-top: 10px;
    font-weight: bold;
}
